
    /********** Base styles **********/
    * {
      box-sizing: border-box;
      font-family: 'Courier New', Courier, monospace;
    }
    h1 {
      margin-bottom: 25px;
      text-align: center;
      text-align: center;
      margin-bottom: 50px;
    }
   
    p {
      text-align: left;  
      padding: 15px 15px 15px 15px;  
      font-size: 15px;
      position: relative;
      margin-bottom: 50px;
    }
    
    
    .section {
      background-color: grey;
      border:1px solid black;
      margin-top:20px;
      margin-right: 20px;
      padding:5px;
      text-align: justify;
      position: relative;
    }
    span {
        font-size:20px;
        width:150px;
        border: 1px solid black;
        font-weight: bold;
        text-align: center;
        float: right; top:0; right:0; margin:0;
        position:absolute;
    }
    #chicken {
        background-color: aqua;
    }
    #beef {
        background-color:brown;
        color:white;
    }
    #sushi {
        background-color: pink;
    }
    row {
        width: 100%;
    }

    
    /********** Large devices only **********/
    @media (min-width: 992px) {
        .col-lg-3 {
            width: 33.3%;
            float: left;
            }
    }
    
    /********** Medium devices only **********/
    @media (min-width: 768px) and (max-width: 991px) {
        .col-md-6 {
            width: 50%;
            float: left;
          }
        .col-md-12 {
            width: 100%;
            float: left;
          }
    }

      /********** Small Devices only **********/
    @media (max-width: 767px)  {
        .col-sx-12 {
            float: left;
          width: 100%;
        }
    }

